body {
  background-color: rgb(218, 211, 231);
}
h1 {
  color: rgb(69, 13, 172);
  text-align: center;
  font-weight: bold;
}
p {
  text-align: center;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
